@model IList<WestCoastEdu.web.Models.Course>
@{
    ViewData["Title"] = "Courses";
}
<h1 class="CourseText">Here a list of all our available courses</h1>
<div class="CoursesContainer">
    @foreach (var account in Model)
        {
            <div>
                <a asp-action="#" asp-route-CourseId=@account.CourseId>@account.CourseTitle - @account.CourseName -
                    @account.CourseDescription</a>
            </div>
        }
</div>
<a class="LinkBtn" asp-action="Index" asp-controller="Home">Home</a>