@model IList<WestCoastEdu.web.Models.Course>
@{
    ViewData["Title"] = "Courses";
}
<h1 class="CourseText">Here a list of all our available courses</h1>
<div class="CoursesContainer">
    @foreach (var course in Model)
        {
            <div>
                <a asp-action="#" asp-route-CourseId=@course.CourseId>@course.CourseTitle - @course.CourseName -
                    @course.CourseDescription</a>
            </div>
        }
</div>
<a class="LinkBtn" asp-action="Index" asp-controller="Home">Home</a>