@model WestCoastEdu.web.ViewModels.CoursePostViewModel;

@{
    ViewData["Title"] = "Create Course";
    Layout = "_LayoutAdmin";
}
<h1 class="WelcomeText">Add Course</h1>
<form asp-action="create" asp-controller="CoursesAdmin" method="post" class="EditForm">
    <div class="FormControl">
        <label for="">Course Name</label>
        <input asp-for="CourseName"/>
        <span class="error" asp-validation-for="CourseName"></span>
    </div>
    <div class="FormControl">
        <label for="">Title</label>
        <input asp-for="CourseTitle"/>
        <span class="error" asp-validation-for="CourseTitle"></span>
    </div>
    <div class="FormControl">
        <label for="">Start Date</label>
        <input asp-for="StartDate"/>
        <span class="error" asp-validation-for="StartDate"></span>
    </div>
    <div class="FormControl">
        <label for="">End Date</label>
        <input asp-for="EndDate"/>
        <span class="error" asp-validation-for="EndDate"></span>
    </div>
    <div class="FormControl">
        <label for="">Description</label>
        <input asp-for="CourseDescription"/>
        <span class="error" asp-validation-for="CourseDescription"></span>
    </div>
    <div class="SubmitDiv">
        <button type="submit" class="LinkBtnAdmin"><i class="fa-solid fa-save"></i>Create</button>
        <a asp-action="Index" asp-controller="CoursesAdmin" class="LinkBtnAdmin"><i class="fa-solid fa-arrow-left"></i>Cancel</a>
    </div>
</form>