@model WestCoastEdu.web.ViewModels.AccountUpdateViewModel

@{
    ViewData["Title"] = "Edit Account";
    Layout = "_LayoutAdmin";
}
<h1 class="WelcomeText">Edit Account</h1>
<form asp-action="edit" asp-controller="AccountsAdmin" asp-route-accountId=@Model.AccountId method="post" class="EditForm">
    <div class="FormControl">
        <label asp-for="FullName"></label>
        <input asp-for="FullName"/>
        <span class="error" asp-validation-for="FullName"></span>
    </div>
    <div class="FormControl">
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span class="error" asp-validation-for="Email"></span>
    </div>
    <div class="FormControl">
        <label asp-for="Phone"></label>
        <input asp-for="Phone"/>
        <span class="error" asp-validation-for="Phone"></span>
    </div>
    <div class="FormControl">
        <label asp-for="AccountType"></label>
        <input asp-for="AccountType"/>
        <span class="error" asp-validation-for="AccountType"></span>
    </div>
    <div class="FormControl">
        <button type="submit" class="LinkBtnAdmin"><i class="fa-solid fa-save"></i>Save</button>
        <a asp-action="Index" asp-controller="AccountsAdmin" class="LinkBtnAdmin"><i class="fa-solid fa-arrow-left"></i>Cancel</a>
    </div>
</form>