@{
    ViewData["Title"] = "Admin";
    Layout = "_LayoutAdmin";
}

<h1>Dashboard</h1>
<h2>Administer Accounts and Courses</h2>
<div class="AdminDashboard">
    <a asp-action="Index" asp-controller="CoursesAdmin" class="DashboardCard">Courses</a>
    <a asp-action="Index" asp-controller="AccountsAdmin" class="DashboardCard"><p>Accounts</p></a>
</div>
